{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque hic molestiae error aliquid optio neque autem, at
            cum odit ad, in numquam voluptatum delectus doloremque officia natus nemo expedita. Provident, quis harum
            eligendi iure quidem rem ab odit atque molestias architecto illo dolor ad temporibus animi, cumque ut laudantium
            dolores! Fugiat voluptates voluptatem ratione perferendis necessitatibus. Fugit sequi, odio incidunt adipisci
            voluptas quam! Eum eos excepturi corporis, velit ad ullam, sapiente nemo possimus deserunt repellat vitae
            recusandae repudiandae, itaque quis nam aliquam aspernatur? Ipsam doloremque cum repellat eveniet, qui error
            rerum dolor quidem exercitationem animi blanditiis quia porro voluptates. Omnis?</p>
            <div class="text-center">
                <a href="/signin/" class="btn btn-primary">
                    Signin
                </a>
                <a href="/signup/" class="btn btn-primary">
                    Signup
                </a>
            </div>
    </section>
</main>
{% endblock %}